
@font-face {
  font-family: 'Pixel-Noir-Regular';
  src: url('res/Pixel-Noir-Regular.eot?#iefix') format('embedded-opentype'),  url('res/Pixel-Noir-Regular.woff') format('woff'), url('res/Pixel-Noir-Regular.ttf')  format('truetype'), url('res/Pixel-Noir-Regular.svg#Pixel-Noir-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
